<!DOCTYPE html>
{%extends "base.html"%}
{%load staticfiles%}

{%block bodyblock %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <title>Quiz</title>
</head>
<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text darken-1">Quiz Page</h1>
      <div class="row">
      {%if quizzes %}
      <ul>
        {%for quiz in quizzes %}

          {{quiz.quiz_name}}
          {%endfor%}
          {%endif%}
          {%if qs%}
          <ul>
            {%for q in qs%}
            <li>
        <a href = "{{q.pk}}"> Question: {{q.pk}} </a><br>
          </li>
            {%endfor%}
          {%endif%}


        </ul>

    </div>



    </div>
  </div>







  <!--  Scripts-->
  <script src="{%static 'js/materialize.js'%}"></script>


  </body>
{%endblock%}
</html>
